{% extends 'clients/base.html' %}
{% load staticfiles i18n %}

{% block content %}
    {% include 'clients/snippets/breadcrumbs.html' %}

    <div class="container content">
        <div class="row">
            <div class="col-md-9">
                <div class="headline"><h2>Our Clients</h2></div>

                {% for client in object_list %}
                    <div class="row clients-page">
                    <div class="col-md-2">
                        <img src="{{ client.image.get_116x116_url }}" class="img-responsive hover-effect" alt="{{ object.image.caption }}">
                    </div>
                    <div class="col-md-10">
                        <h3>{{ client.name }}</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i>{{ client.country }}</li>
                            <li><i class="fa fa-globe color-green"></i>
                                <a class="linked" href="{{ client.link }}">{{ client.link }}</a>
                            </li>
                            <li><i class="fa fa-briefcase color-green"></i>{{ client.industry|default:'' }}</li>
                        </ul>
                        <p>{{ client.description|safe }}</p>
                    </div>
                </div>
                {% endfor %}

                {% include 'snippets/pagination.html' %}

            </div><!--/col-md-9-->

            <div class="col-md-3">
                <!-- Our Services -->
                <div class="who margin-bottom-30">
                    <div class="headline"><h2>Testimonials</h2></div>
                    {% for client in object_list %}
                        {% for testimonial in client.testimonials.all %}
                            <div class="testimonials-info rounded-bottom bg-color-light">
							<img class="pull-left" src="/static/assets/img/testimonials/img5.jpg" alt="" width="50" height="50" style="margin: 5px;">
							<div class="testimonials-desc">
								<p>{{ testimonial.text }}</p>
								<strong>{{ testimonial.name }}</strong>
								<span>{{ testimonial.position }}</span>
							</div>
						</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>




{% endblock %}
