{% extends 'company/base.html' %}
{% load staticfiles i18n %}

{% block meta %}
    <meta name="description" content="{{ object.description }}">
    <meta name="keywords" content="{{ object.tags.all|join:',' }}">
    <meta name="author" content="{{ object.authors.all|join:", " }}">
{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{{ object.name|default:'Our Team' }}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'team:list' %}">Team</a></li>
                <li class="active">{{ object.name|default:'Our Team' }}</li>

            </ul>
        </div>
    </div>

    <div class="blog_masonry_3col" style="padding-top: 10px;">
        <div class="container content grid-boxes masonry" style="position: relative;">





        <div class="profile-body">
            <div class="profile-bio">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-responsive md-margin-bottom-10" src="{{ object.image.get_263x265_url }}" alt="{{ object.image.caption }}">
                    </div>
                    <div class="col-md-9">
                        <h2>{{ object.name }}</h2>
                        <span><strong>Position:</strong> {{ object.position }}</span>
                        <hr>
                        {{ object.short_description|safe }}
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">{{ object.short_description|safe }}</div>
            </div>
            <hr>
        </div>







        </div><!--/container-->
    </div>
    {% include 'snippets/pagination.html' %}
{% endblock %}
