{% extends 'products/base.html' %}
{% load staticfiles i18n %}

{% block title %}{% endblock title %}



{% block content %}
    {% include 'products/snippets/breadcrumbs.html' %}


    <div class="container content profile">
        <!--Left Sidebar-->
        <div class="col-md-3 md-margin-bottom-40">
            <img class="img-responsive profile-img margin-bottom-20" src="{{ object.image.get_263x265_url }}" alt="{{ object.image.caption }}">


            <div class="panel-heading-v2 overflow-h">
                <h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i> Task Progress</h2>
                <a href="#"><i class="fa fa-cog pull-right"></i></a>
            </div>
            <h3 class="heading-xs">Web Design <span class="pull-right">92%</span></h3>
            <div class="progress progress-u progress-xxs">
                <div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar"
                     class="progress-bar progress-bar-u">
                </div>
            </div>
            <h3 class="heading-xs">Unify Project <span class="pull-right">85%</span></h3>
            <div class="progress progress-u progress-xxs">
                <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar"
                     class="progress-bar progress-bar-blue">
                </div>
            </div>
            <h3 class="heading-xs">Sony Corporation <span class="pull-right">64%</span></h3>
            <div class="progress progress-u progress-xxs margin-bottom-40">
                <div style="width: 64%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="64" role="progressbar"
                     class="progress-bar progress-bar-dark">
                </div>
            </div>

            <div class="margin-bottom-50"></div>

        </div>
        <!--End Left Sidebar-->

        <!-- Profile Content -->
        <div class="col-md-9">
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{ object.name }}</h2>
                            <span><strong>Client:</strong><a href=""> Client</a></span>
                            <hr>
                            <p>{{ object.description }}</p>
                        </div>
                    </div>
                </div><!--/end row-->

                <hr>

                <!--Timeline-->
                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Experience</h2>
                        <a href="#"><i class="fa fa-cog pull-right"></i></a>
                    </div>
                    <div class="panel-body margin-bottom-40">
                        <ul class="timeline-v2 timeline-me">
                            <li>
                                <time datetime="" class="cbp_tmtime"><span>Mobile Design</span>
                                    <span>2012 - Current</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <h2>BFC NYC Partners</h2>
                                    <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber
                                        watercress. Peasprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
                                </div>
                            </li>
                            <li>
                                <time datetime="" class="cbp_tmtime"><span>Web Designer</span> <span>2007 - 2012</span>
                                </time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <h2>Freelance</h2>
                                    <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water
                                        spinach kombu courgette lettuce.</p>
                                </div>
                            </li>
                            <li>
                                <time datetime="" class="cbp_tmtime"><span>Photodesigner</span> <span>2003 - 2007</span>
                                </time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <h2>Toren Condo</h2>
                                    <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water
                                        spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio
                                        shallot.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--End Timeline-->

            </div>
        </div>
        <!-- End Profile Content -->
    </div>



{% endblock %}

{% block js %}{% endblock %}