{% extends 'products/base.html' %}
{% load staticfiles i18n %}

{% block title %}{% endblock title %}

{% block content %}
    {% include 'products/snippets/breadcrumbs.html' %}

    <div class="container content-md">
        <ul class="list-unstyled row portfolio-box">
            {% for object in object_list %}
            <li class="col-sm-4 md-margin-bottom-50 pull-left" style="float:left;height:390px;">
                <a class="thumbnail fancybox" data-rel="gallery" title="{{ object.name }}" href="{% url 'products:detail' object.slug %}">
                    <img class="full-width img-responsive" src="{{ object.image.get_360x220_url|default:default_image.get_360x220_url }}" alt="{{ object.image.caption }}">
                    <span class="portfolio-box-in">
                        <i class="rounded-x icon-magnifier-add"></i>
                    </span>
                </a>
                <div class="headline-left margin-bottom-10"><h3 class="headline-brd">{{ object.name }}</h3></div>
                <p>{{ object.description|truncatechars:167 }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% include 'snippets/pagination.html' %}

{% endblock %}
