{% load staticfiles i18n %}

    <div class="owl-carousel-v1 margin-bottom-50">
        <div class="owl-slider .owl-slider-v3">
            {% for client in clients.all %}
            <div class="item">
                <img class="img-responsive"
                     src="{{ client.image.get_140x140_url }}" alt="{{ client.image.caption }}">
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="owl-navigation" style="text-align: center;">
        <div class="customNavigation">
            <a class="owl-btn prev-v1"><i class="fa fa-angle-left"></i></a>
            <a class="owl-btn next-v1"><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
