{% extends 'services/base.html' %}
{% load staticfiles i18n %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Services</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'services:list' %}">Services</a></li>
                <li class="active">{{ object.title|title|truncatechars:30|default:'Service' }}</li>
            </ul>
        </div>
    </div>

    <div class="container content" style="padding-top: 10px;">
        <div class="row blog-page blog-item">
            <!-- Left Sidebar -->
            <div class="col-md-9 md-margin-bottom-60">
                <!--Blog Post-->
                <div class="blog margin-bottom-40">
                    <h1>{{ object.title|title }}</h1>
                    <div class="blog-post-tags">
                        <ul class="list-unstyled list-inline blog-info">
                            <li>
                                <i class="fa fa-calendar"></i>{{ object.created }}
                            </li>
                            <li><i class="fa fa-pencil"></i>
                                {{ object.authors.all|join:", " }}</li>
                        </ul>
                        <ul class="list-unstyled list-inline blog-tags">
                            <li>
                                {% for tag in object.tags.all %}
                                    <i class="fa fa-tags"></i>
                                    <a href="#">{{ tag.name }}</a>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                    <div class="blog-img">
                        <img class="img-responsive"
                             src="{{ object.image.get_360x220_url }}"
                             alt="{{ object.image.caption|safe }}">
                    </div>
                    <p>{{ object.text|safe }}</p><br>
                </div>
                <!--End Blog Post-->


            </div>
            <!-- End Left Sidebar -->

            <div class="col-md-3">
                {% include 'services/snippets/sidebar.html' %}
            </div>


        </div><!--/row-->
    </div>
{% endblock %}
